<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <title><com:title/></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Le styles -->
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/mgp/var/sitio.css" />

        <link rel="stylesheet" href="/mgp/assets/css/font-awesome.min.css" />

        <!--[if IE 7]>
          <link rel="stylesheet" href="/mgp/assets/css/font-awesome-ie7.min.css" />
        <![endif]-->

        <!-- page specific plugin styles -->

        <!-- fonts -->
        <link rel="stylesheet" href="/mgp/assets/css/ace-fonts.css" />

        <!-- ace styles -->
        <link rel="stylesheet" href="/mgp/assets/css/ace.min.css" />
        <link rel="stylesheet" href="/mgp/assets/css/ace-rtl.min.css" />
        <link rel="stylesheet" href="/mgp/assets/css/ace-skins.min.css" />

        <!--[if lte IE 8]>
          <link rel="stylesheet" href="/mgp/assets/css/ace-ie.min.css" />
        <![endif]-->

        <!-- ace settings handler -->
        <script src="/mgp/assets/js/uncompressed/ace-extra.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!--[if lt IE 9]>
        <script src="/mgp/assets/js/html5shiv.js"></script>
        <script src="/mgp/assets/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="homepage">
        <div class="back1"></div>
        <div class="back2"></div>
        <div class="container" id="wrap">
            <div id="head">
                <div id="head_center">
                    <a href="/mgp/index.php"><img src="/mgp/images/mdq.png" class="logo"></a>
                </div>
                <div id="head_nav">
                    <div class="navbar-header pull-left">
                        <div id="appmenu"></div>
                    </div>

                    <div class="navbar-header pull-right" role="navigation">
                        <ul id="botones_top" class="nav ace-nav">
                            <!-- Identity -->
                            <li id="identity" data-widget="/identity">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <img class="nav-user-photo" src="/mgp/assets/avatars/user.jpg" alt="Usuario" />
                                    <span class="user-info">
                                        <small>Bienvenido,</small>
                                        usuario
                                    </span>

                                    <i class="icon-caret-down"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div id="payload">
                <com:errormsg/>
                <com:maincontent/>
            </div>
        </div>

        <div id="footer">
            <div class="container"><p class="muted credit"><com:homepage.comp.soft_version/><p></div>
        </div>
        <!-- Le javascript
           ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
    <com:security/>
    <com:jsincludes/>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            $("*[data-widget]").each(function() {
                var w = $(this).data("widget");
                $(this).load("/mgp/widget.php?" + w);
            });
        });
    </script>
</body>
</html>