<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns:com="http://www.commsys.com.ar">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="es" />
    <title><com:title/></title>
    <com:security/>
    <com:jsincludes/>
    <link href="/mgp/var/commsys_pub.css" media="screen,print" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div id="payload">
        <div id="head">
            <div id="banner"><img src="/mgp/images/default/header_logo.gif"/></div>
            <div id="who"><com:homepage.comp.who/></div>
            <div id="appmenu"></div>
        </div>
        <com:errormsg/>
        <com:maincontent/>
    </div>
</body>
</html>
