<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Le styles -->
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/mgp/var/sitio.css" />
        <title>Reclamos Municipalidad de General Pueyrredón</title>
    </head>

<body class="homepage">
    <div class="back1"></div>
    <div class="back2"></div>

    <div id="head" class="container">
        <div id="head_center">
            <a href="/mgp/index.php"><img src="/mgp/images/mdq.png" class="logo" alt="logo MGP"></a>    
        </div>
	<div id="head_nav">
            <div id="appmenu"></div>
	</div> 
    </div>
    <div id="payload" class="container">
        <div id="row">
            <div class="col-md-6">
                <h2>Municipalidad de General Pueyrredón</h2>
                <p>Este es el sistema de reclamos. Si requiere acceso al sistema, por favor comunicarse con 
                   la Dirección de Informática y Telecomunicaciones.</p>
            </div>	
            <div class="col-md-offset-2 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Ingreso al sistema</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/mgp/index.php" method="post" class="form-horizontal" role="form">         
                            <div class="form-group">
                                <label for="login" class="col-md-3">Usuario:</label>
                                <div class="col-md-8">
                                    <input id="login" type="text" name="login" value="" placeholder="usuario" class="form-control">
                                </div>
                            </div>                
                            <div class="form-group">
                                <label for="password" class="col-md-3">Clave:</label> 
                                <div class="col-md-8">
                                    <input id="password" type="password" name="password" value="" placeholder="clave" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary col-md-offset-7 col-md-4" name="submit" id="submit" value="Ingresar" >
                            </div>
                            <p><a href="/mgp/modules/security/pass_reset.php">Si ha perdido su clave de ingreso haga click aquí </a></p>  
                        </form>
                        <div class="fail"><com:error/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#login').focus();
            $("input:visible").keypress(function(e){
                if(e.which===13) {
                    var form = $(this).parents('form:first');
                    form.submit();
                }
            });
        });
    </script>

</body>
</html>
