<!DOCTYPE html>
<html xmlns:com lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><com:title/></title>
    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/mgp/var/sitio.css" />
<script>
function iniciar() { setTimeout('irAHome()',10000); }
function irAHome() { document.location.href = "/index.php"; }
</script>
</head>
<body onLoad="iniciar()">
<div id="payload">
    <div style="margin:auto;width:500px;padding:20px;border:1px solid #888;border-radius:10px;margin-top:50px;background:#eee;">
	    <h3 style="text-align:center;">Cerrar sesion de trabajo</h3>
	    <table >
	    <tr>
	        <td style="vertical-align:middle;">
	            <img src="/mgp/images/default/gdm.gif"/>
	        </td>
	        <td style="padding:20px;">
	            Ha finalizado su sesion de trabajo. En un instante será enviado a la pagina de ingreso.<br/><br/>
	            Muchas gracias.<br/>
	            <p align="right"><button onclick="irAHome()">Continuar</button></p>
	        </td>
	    </tr>
	    </table>    
	</div>
</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>