<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <title><com:title/></title>
        <!-- Le styles -->
        <link rel="stylesheet" type="text/css" href="/mgp/common/bootstrap-3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/mgp/var/sitio.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body class="homepage">
        <div class="back1"></div>
        <div class="back2"></div>
        <div class="container" id="wrap">
 
	    <div id="head">
       		<div id="head_center">
                    <a href="/mgp/index.php"><img src="/mgp/images/mdq.png" class="logo"></a>
                    <com:homepage.comp.mpfwho/>
                </div>
                <div id="head_nav">
                   <div id="appmenu"></div>
                </div>
            </div>
	    
	    <div id="payload">
                <com:errormsg/>
                <com:maincontent/>
            </div>
        </div>
	   
        <div id="footer">
            <div class="container"><p class="muted credit"><com:homepage.comp.soft_version/><p></div>
        </div>
 <!-- Le javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
    <com:security/>
    <com:jsincludes/>
    <script type="text/javascript" src="/mgp/common/bootstrap-3.1.1/js/bootstrap.min.js"></script>
	
    </body>
</html>