<!DOCTYPE html>

<!-- Fragmento de pagina html que indica el exito una operacion -->
<div id="pageSuccess" class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-1"><img src="/mgp/images/default/success-grande.png"/></div>
            <div class="col-xs-10 col-xs-offset-1"><com:msgok/></div>
        </div>

        <div class="row" id="pageSuccessActions">
            <div class="col-xs-12">
                <com:actions/>
            </div>
        </div>
    </div>
</div>
