<!DOCTYPE html>
<html xmlns:com>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="content-language" content="es" />
        <title><com:title/></title>
    	<com:security/>
   	 	<com:jsincludes/>
    	<link href="/mgp/var/commsys.css" media="screen,print" type="text/css" rel="stylesheet" />
    	<style>
    	#mapa {position: absolute;top: 5px;left: 595px;}
    	#sub_prestaciones_cuest {margin-top:20px;}
    	</style>
	</head>

	<body onLoad="onPageLoad()" class="homepage">
	    <div id="head">
       		<div id="head_center">
           	<a href="/mgp/index.php"><img src="/mgp/images/mdq.png" class="logo"></a>
               <com:homepage.comp.mpfwho/>
            </div>
            <div id="head_nav">
               <div id="appmenu"></div>
            </div>
        </div>
        
	    <div id="payload">
	       
	            <div id="headSpacer"></div>
				<div id="watermark"></div>
				<com:homepage.comp.talk/>
			    <com:errormsg/>
	            <com:maincontent/>
	       
	    </div>
	    <div class="footer">
	        <div id="versionNumber"><com:homepage.comp.soft_version/></div>
	    </div>
	</body>
</html>