html, body { height: 100%;}
body {color:black;margin:0px;padding:0px;font: 10pt Verdana,Arial,sans-serif;}
#wrap {min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -40px;}
#push,#footer {height: 40px;}
#footer {background-color: #e0ded8;}
#footer div p {margin:10px 10px 10px;}
.box {background:#efefef;padding:15px;border:solid 1px #eee; border-radius:5px;}
div#head {height: 156px;width: 100%;position: relative;z-index: 3; /*para arreglar bug de IE*/}
#head_center {position: relative;margin:auto;text-align:left;height:115px;background: url("/mgp/images/rayitas.png") repeat-y transparent;background-position:right;}
#head_nav {position: relative;text-align:center;height:41px;}
img.logo {position:relative;top:10px;}

.homepage {min-height:100%;}
#appmenu {position:relative;top:6px;max-width:1200px;min-width: 750px;width: 99.4%;position: relative;margin:auto;text-align:left;}
.back1, .back2 {position:absolute;top:0px;left:0px;width:100%;height:156px;background:#e0ded8;}
.back2 {height:41px;background:#000;top:115px;}   
#payload {margin-top:10px;}

#mapa {top:5px; left:0px; width:100%; height:450px;}
#m_mapa_lum, #m_mapa {width: 100%;height: 450px;}
#m_mapa_lum img, #m_mapa img { max-width: none; }

#sub_prestaciones_cuest {margin-top:20px;}
#bloque_domicilio, #bloque_villa, #bloque_orgpublico, #bloque_plaza, #bloque_cementerio, #bloque_luminaria, #calle2_lum, #calle2, #bloque_colectivo {display:none;}
#progreso {margin-left:30px; width:300px;}
.ui-autocomplete-loading {background: white url('/mgp/common/kendo/styles/Default/loading.gif') right center no-repeat;}