<html xmlns:com="http://www.commsys.com.ar">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="es" />
    <title><com:title/></title>
    <com:security/>
    <com:jsincludes/>
    <link href="/mgp/var/commsys.css" media="screen,print" type="text/css" rel="stylesheet" />
    <style>
    
    #alert {position:absolute;top:50px;left:480px;width:450px;height:150px;background:#d0d0d0;z-index:50;    	
    -webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	font:12pt Helvetica,Arial,Sans-Serif;
    }
    #alert_image {position:absolute;top:5px;left:5px;}
    #alert_msg {position:absolute;top:5px;left:100px;}
    
    </style>
</head>

<body onLoad="onPageLoad()">
	<div id="home"><img  src="/mgp/images/icons/Home.png" onclick="document.location.href='/mgp/index.php';"></div>
	<div id="appmenu"></div>
	
	<div id="center">
		<div id="margen_interno">
        <div id="alert">
        	<div id="alert_image"><img src="/mgp/images/default/dialog-warning.png"></div>
			<div id="alert_msg">
	        	<b>REINICIO DE CLAVE:</b><br>
	    		Si continua el proceso de este formulario se reiniciará la clave del usurio.<br>
	    		Por favor confirme que sea el usuario correcto y que sea la operación que desea realizar<br>
	    		
	    		El usuario recibirá un correo electrónico con su nueva clave.    	
    		</div>
        </div>
        
        <com:errormsg/>
        <com:maincontent/>
         </div>
	</div>
</body>

</html>

