<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>Estimado <nombre>

Hemos recibido su reclamo por

 en <lugar>. El tiempo usual de resolución es de <plazo>. Este plazo es estimado y depende del día de la semana y de las condiciones climáticas que permitan realizar el trabajo.
Se le ha asignado el número <identificador_reclamo> con el cual en el podrá consultar el avance del mismo.
Le informaremos sobre cualquier novedad del mismo por este mismo medio.

Muchas gracias por colaborar con nosotros,
Municipalidad de General Pueyrredon</div>
    </body>
</html>
