<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <p>Hola, <com:ciudadano/></p>

            <p>Recibimos tu <com:tic_tipo/> en <com:lugar/>.</p>

            <p>El tiempo usual de resolución es de <com:plazo/>. Este plazo es estimado y depende del día de la semana y de las condiciones climáticas para realizar el trabajo.</p>

            <p>Tu solicitud es la <com:tic_identificador/>. Con este número podrás consultar el avance de tu pedido, ingresando a la web http://www.mardelplata.gob.ar/147 o llamando al 147.<p>

            <p>Te informaremos a este mail sobre el progreso del trabajo.</p>
            <br/>
            <p>Muchas gracias por colaborar con tu ciudad.<br>
               Municipalidad de General Pueyrredon</p>
        </div>
    </body>
</html>
