/* 
    Document   : mapeo
    Created on : 17-may-2013, 9:47:18
    Author     : jcordero
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#reporte_mapa {width:100%;height:500px;}
#reporte_mapa label { width: auto; display:inline; }
#reporte_mapa img { max-width: none; max-height: none; }